/* @import '~materialize-css/dist/css/materialize.min.css' */

body {
    margin: 0;
    font-weight: 400;
    font-family: monospace;
    color: white;
    background-color: #94c4f3;
}
.wrapper_field {
    margin: 20px auto;
    width: 90%;
}
.wrapper {
    background-color: #1C7DE1;
    overflow: auto;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 150px;
}
.wrapper h2 {
    margin: 0 0 0 0;
}
.input__container {
    margin-bottom: 10px;
}
.input__container label {
    margin-bottom: 5px;
}
.input__container input {
    width: 100%;
    border-style: none;
    background-color: #1C7DE1;
    color: white;
    border-bottom: 2px solid white;
    height: 25px;
}
.input__container label:hover {
    color: red;
}
::placeholder {
    color: white;
}
:focus {
    outline: none;
}
.container__action {
    margin-top: 40px;
}
.container__action_btn {
    padding: 6px 18px;
    margin-right: 20px;
    border-style: none;
    box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.75);
}
.log:hover {
    background-color: #b6540e;
}
.log {
    color: white;
    background-color: #eb6a0e;
}
.reg {
    background-color: lightgray;
    color: black;
}
.reg:hover {
    background-color: #9c9c9c;
}
.nav {
    height: 60px;
    background-color: #EB6368;
}
.nav__wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav__wrapper a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.timeslot__wrapper {
    width: 70%;
    margin: 0 auto;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    font-size: 16px;
}
.timeslot__wrapper h1 {
    text-align: center;
}
.timeslot__hours {
    list-style: none;
    text-align: end;
    margin-left: auto;
}
.timeslot__hours li {
    display: inline-block;
    margin-right: 7px;
}
.timeslot__container {
    display: flex;
}
.timeslot__days {
    margin-right: 10px;
}
.timeslot__table {
    width: 100%;
    height: 133px;
    margin-top: 13px;
    border: 1px solid black;
    margin-left: 42px;
    margin-right: 7px;
}
.timeslot__table td {
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
/*  */

#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
#students {
    color: black;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid black;
    width: 90%;
    margin: 0 auto;
}

#students td, #students th {
    border: 1px solid black;
    padding: 8px;
}


/* #students tr:nth-child(even){background-color: #f2f2f2;}

#students tr:hover {background-color: #ddd;} */

#students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
.free {
    background-color: white;
}
.busy {
    background-color: red;
}
.buttonDiv {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
}
.buttonSave {
    width: 150px;
    height: 46px;
    border-radius: 5px;
    font-weight: 600;
    font-family: cursive;
    background-color: #4CAF50;
}